In [38]:
import numpy as np
import pandas as pd
import sklearn

In [39]:
from sklearn.datasets import load_boston
df = load_boston()

In [40]:
df.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [41]:
print(df.data)

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]

In [42]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head(69)

       CRIM    ZN  INDUS  CHAS     NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0   0.00632  18.0   2.31   0.0  0.5380  ...  1.0  296.0     15.3  396.90   4.98
1   0.02731   0.0   7.07   0.0  0.4690  ...  2.0  242.0     17.8  396.90   9.14
2   0.02729   0.0   7.07   0.0  0.4690  ...  2.0  242.0     17.8  392.83   4.03
3   0.03237   0.0   2.18   0.0  0.4580  ...  3.0  222.0     18.7  394.63   2.94
4   0.06905   0.0   2.18   0.0  0.4580  ...  3.0  222.0     18.7  396.90   5.33
..      ...   ...    ...   ...     ...  ...  ...    ...      ...     ...    ...
64  0.01951  17.5   1.38   0.0  0.4161  ...  3.0  216.0     18.6  393.24   8.05
65  0.03584  80.0   3.37   0.0  0.3980  ...  4.0  337.0     16.1  396.90   4.67
66  0.04379  80.0   3.37   0.0  0.3980  ...  4.0  337.0     16.1  396.90  10.24
67  0.05789  12.5   6.07   0.0  0.4090  ...  4.0  345.0     18.9  396.21   8.10
68  0.13554  12.5   6.07   0.0  0.4090  ...  4.0  345.0     18.9  396.90  13.09

[69 rows x 13 columns]

In [43]:
boston['TARG'] = df.target
boston.head(69)

       CRIM    ZN  INDUS  CHAS     NOX  ...    TAX  PTRATIO       B  LSTAT  TARG
0   0.00632  18.0   2.31   0.0  0.5380  ...  296.0     15.3  396.90   4.98  24.0
1   0.02731   0.0   7.07   0.0  0.4690  ...  242.0     17.8  396.90   9.14  21.6
2   0.02729   0.0   7.07   0.0  0.4690  ...  242.0     17.8  392.83   4.03  34.7
3   0.03237   0.0   2.18   0.0  0.4580  ...  222.0     18.7  394.63   2.94  33.4
4   0.06905   0.0   2.18   0.0  0.4580  ...  222.0     18.7  396.90   5.33  36.2
..      ...   ...    ...   ...     ...  ...    ...      ...     ...    ...   ...
64  0.01951  17.5   1.38   0.0  0.4161  ...  216.0     18.6  393.24   8.05  33.0
65  0.03584  80.0   3.37   0.0  0.3980  ...  337.0     16.1  396.90   4.67  23.5
66  0.04379  80.0   3.37   0.0  0.3980  ...  337.0     16.1  396.90  10.24  19.4
67  0.05789  12.5   6.07   0.0  0.4090  ...  345.0     18.9  396.21   8.10  22.0
68  0.13554  12.5   6.07   0.0  0.4090  ...  345.0     18.9  396.90  13.09  17.4

[69 rows x 14 columns]

In [44]:
boston.isnull()

      CRIM     ZN  INDUS   CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT   TARG
0    False  False  False  False  False  ...  False    False  False  False  False
1    False  False  False  False  False  ...  False    False  False  False  False
2    False  False  False  False  False  ...  False    False  False  False  False
3    False  False  False  False  False  ...  False    False  False  False  False
4    False  False  False  False  False  ...  False    False  False  False  False
..     ...    ...    ...    ...    ...  ...    ...      ...    ...    ...    ...
501  False  False  False  False  False  ...  False    False  False  False  False
502  False  False  False  False  False  ...  False    False  False  False  False
503  False  False  False  False  False  ...  False    False  False  False  False
504  False  False  False  False  False  ...  False    False  False  False  False
505  False  False  False  False  False  ...  False    False  False  False  False

[506 rows x 14 columns]

In [45]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
TARG       0
dtype: int64

In [46]:
from sklearn.model_selection import train_test_split
X = boston.drop('TARG', axis=1)
Y = boston['TARG']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.15, random_state = 5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 13)
(76, 13)
(430,)
(76,)

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [48]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [49]:
y_train_predict = lin_model.predict(X_train)
rmse =(np.sqrt(mean_squared_error(Y_train, y_train_predict)))
print("The model performance for Traning Set")
print('Traning RMSE is {}'.format (rmse))
print("\n")
y_test_predict = lin_model.predict(X_test)
rmse = (np.sqrt(mean_squared_error(Y_test, y_test_predict)))
print("The model performance for Testing Set")
print('Testing RMSE is {}'.format(rmse))

The model performance for Traning Set
Traning RMSE is 4.710901797319796


The model performance for Testing Set
Testing RMSE is 4.687543527902972